---
import "../style.css";
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How to git</title>
  </head>
  <body>
    <main class="min-h-screen m-auto bg-neutral-100">
      <div
        class="prose prose-red m-auto bg-white w-full max-w-[750px] py-8 px-4 lg:px-8"
      >
        <slot />
      </div>
    </main>
  </body>
</html>
